<div id="header">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <h1>Bot Squad <small>BETA</small></h1>
            <h2>Add automated web agents to your app in minutes.</h2>
        </div>
    </div>
</div>
<div id="subheader">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <h3><strong>Create agents that perform automated tasks for you online.</strong> Bot Squad's simple API lets you schedule webhooks for tasks such as page screenshots, web scraping, and uptime monitoring from your application.</h3>
        </div>
    </div>
</div>
<div id="signup">
    <div class="container">
        <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
            <form class="navbar-form">
              <div class="form-group">
                <input type="email" class="input-lg form-control" placeholder="Your Email Address" required>
              </div>
              <a href="javascript:void(0)" id="submit" class="btn btn-primary btn-lg">Notify Me</a>
            </form>
        </div>
        </div>
    </div>
</div>