<div id="header">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <%= image_tag "bots.png", class: "center-block" %>
            <h1 class="text-center">Bot Squad <small>coming soon</small></h1>
            <h2 class="text-center">Add automated web agents to your app in minutes.</h2>
        </div>
    </div>
</div>
<div id="subheader">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1">
            <h3><strong>Create agents that perform automated tasks for you online.</strong> Bot Squad's simple API lets you schedule tasks such as page screenshots, web scraping, uptime monitoring, and more from your application.</h3>
        </div>
    </div>
</div>
<footer>
    <p class="muted text-center">&copy; BotSquad 2015</p>
</footer>
